body {
  padding: 2em; 
  background: #e5e5e5;
  font-family: 'Lekton', sans-serif;
}
/*images are 600 x 600px scale down on screens smaller that 600px*/
@media only screen and (max-width: 768px) {
    img {
        width: 300px;
        height: 300px;
    }
}

.container-1 {
  display: flex;
  flex-direction: column; 
  text-align: center;
  align-items: center;
}

.container-1 div {
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 10px;
  text-align: center;
}


header {
  flex: 1;
  text-align: center;
  background: white;
  max-width: 100%;
  box-sizing: border-box;
  padding: 50px;
}

/*header text*/
#head {
  color: #100f0f;
  font-style: 400;
}

/*before and after headings above images*/
.sub {
  margin-top: 10px;
  color: white;
  font-style: 700;
  text-align: left;
  padding-left: 10px;
}

mark {
   background: tomato;	
}

/*adding styles to animations section 1 comes in first. section 2, 1 second later*/
.section-1 {
  background: white;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.section-2 {
  background: white;
  animation-delay: 1s;
  animation-iteration-count: 2;
} 

#box-1 {
  flex: 1;
  background: white;
}

#box-2 {
  flex: 1;
  background: white;
}

#box-3 {
  flex: 1;
  background: white;
}

#box-4 {
  flex: 1;
  background: white;
}

#box-5 {
  flex: 1;
  background: white;
}

#box-6 {
  flex: 1;
  background: white;
}

#box-7 {
  flex: 1;
  background: white;
}

#box-8 {
  flex: 1;
  background: white;
}

#box-9 {
  flex: 1;
  background: none;
  text-align: left;
  padding-left: 10px;
}

a {
  color: #100f0f;
}

a:hover {
  color: #100f0f;
}

img {
	max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
